body {
  font-family: "Raleway";
  max-width: 1100px;
}
header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 89px;
  padding-left: 50px;
  padding-right: 50px;
}
.header__menu-list {
  display: flex;
  gap: 31px;
  list-style: circle;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  letter-spacing: 0.24px;
  text-underline-position: under;
}
.header__links-list-item_no-bullit {
  list-style: none;
}
.header__menu-link__active {
  text-decoration: none;
}
.header__logo-image {
  width: 135.5px;
  height: 110px;
  margin-left: 8px;
  margin-right: 9px;
}
.header-address {
  justify-self: end;
  padding-right: 36px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-underline-position: under;
  line-height: 24.5px;
}
.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  padding: 172px 50px 50px 50px;
  z-index: -2;
  background-size: cover;
  background-position: center;
}
.overlay {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0px;
}
.cover__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.3em;
  margin-bottom: 135.5px;
}

.aligned-text {
  display: block;
}
.aligned-text_left {
  padding-bottom: 28px;
}
.aligned-text_center {
  text-align: center;
  padding-bottom: 20px; /*нижние паддинги прменены, чтобы отодвинуть блоки друг от друга, боковые, чтобы выровнять по горизонтали*/
  padding-right: 28px;
}
.aligned-text_right {
  text-align: right;
  margin-right: -30px;
}

/*сдвиг букв в словах, созданы отдельные обёрки*/

.letter-spacing-extended-lastletter {
  padding-left: 30px;
}
.letter-spacing-extended-firstletter {
  padding-right: 30px;
}
/*сдвиг букв в словах*/

.cover__description {
  display: flex;
  justify-content: space-between;
}
.cover__description-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0px;
  word-spacing: 19px;
  align-self: center;
  padding-left: 28px;
}

button {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  padding: 11.5px 32px 11.5px 31px;
  align-self: end;
}
.lots {
  padding: 181.5px 24px 181.5px 24px;
}
.lots__heading {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #000000;
  padding-left: 40px;
  margin-bottom: 25.5px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 25px;
}
.lots__card-list-item {
  max-width: 334px;
  min-height: 563px;
  flex-grow: 1;
}
.card-link {
  text-decoration: none;
}
.card {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 51px 40px 48px 40px;
  width: 100%;
  justify-content: space-between;
}
.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
  background-repeat: no-repeat;
  z-index: -2;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
  background-repeat: no-repeat;
  z-index: -2;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
  background-repeat: no-repeat;
  z-index: -2;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
.card__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-underline-position: under;
  text-transform: uppercase;
  color: #ffffff;
}
.card__text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 119%;
  color: #ffffff;
  text-align: left;
}
.lots__look-more-link {
  display: block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: black;
  padding-left: 40px;
  margin-top: 31px;
  text-underline-position: under;
}
.about {
  display: grid;
  justify-items: center;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 180px;
}
.about__logo {
  display: flex;
  position: relative;
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 50%;
}
.about__logo-image {
  position: absolute;
  width: 148px;
  height: 114px;
  justify-content: center;
  top: 65.25px;
  left: 47.56px;
}
.about-deal {
}
.about__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #000000;
  padding-top: 102px;
  padding-bottom: 100px;
}
.about__text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: black;
}
.about__text__first {
  margin-bottom: 24px;
}
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 115.5px;
}
.footer__menu {
  text-align: center;
}
.footer__menu-list {
  text-underline-position: under;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  list-style: none;
}
 
.footer__menu-link_active {
  text-decoration: none;
}
.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}
.footer__social-icon {
  width: 48px;
  height: 48px;
}
